.input-field {
}

.input-field label {
    display: block;
    font-size: .9rem;
    margin-right: 10px;
    color: #3d3d3d;
}

.input-field input {
    margin-top: 10px;
}

.input-field .input-value {
    font-size: .7rem;
    color: #aaaaaa;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
