.input-field {
}

.input-field label {
  display: block;
  font-size: 0.9rem;
  margin-right: 10px;
  color: #3d3d3d;
}

.input-field input {
  margin-top: 10px;
  cursor: pointer;
}

.input-field .input-value {
  font-size: 0.7rem;
  color: #7c94ec;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  border-radius: 5px;
  height: 3px;
  border: 1px solid #7c94ec;
  background-color: #7c94ec;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1124a7;
  margin-top: -2px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1124a7;
  margin-top: -2px;
}

input[type="range"]::-moz-range-track {
  background-color: transparent;
}
