.tabs {
    margin: 40px 0;
}

.tabs ul li {
    display: inline-block;
    margin-left: 15px;
    padding: 5px 0;
    cursor: pointer;
}

.tabs ul li:first-child {
    margin-left: 0;
}

.tabs li {
    border-bottom: 3px solid rgba(0,0,0,0);
    color: #f18985;
}

.tabs li.active {
    color: #EC5D57;
    border-bottom-color: #EC5D57;
}