.app-bar {
    padding: 10px 0;
}

.app-bar h1 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 20px #0D47A1;
    text-align: center;
    color: #FAFAFA;
}

.app-bar p {
    text-align: right;
}

.app-bar .react {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: 300;
    border-bottom: 1px dashed;
    padding-top: 3px;
}