.App {
    text-align: center;
    padding: 20px;
}

.gauge-display {
    display: flex;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.gauge-display .gauge {

}