.app {
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}


.app .hero {
    position: fixed;
    top: 0;
    width: 90%;
    max-width: 500px;
    z-index: 10;
    padding-top: 20px;
    background-color: #ffffff;
}

.app .content {
    margin-top: 300px;
    margin-bottom: 200px;
    z-index: 5;
}

.gauge-display {
    display: flex;
    min-height: 210px;
    max-height: 210px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
