.gauge-export {
}

.gauge-export button {
    padding: 10px 20px;
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #7C94EC;
}

.gauge-export button:first-child {
    border-right: none;
}

.gauge-export button.selected {
    background-color: #7C94EC;
    color: #fff;
}

.gauge-export .cta {
    margin-top: 30px;
    background-color: #1124A7;
    border-radius: 3px;
    color: #ffffff;
    border: 0;
}

.gauge-export .use-react {
    margin-top: 20px;
    color: #ffffff;
}

.use-react a {
    color: #3d3d3d;
    text-decoration: none;
    border-bottom: 1px dashed;
}