.gauge-export {
    margin-top: 20px;
    background-color: #fafafa;
    border: 1px dashed #dadada;
    padding: 10px 0;
}

.gauge-export p {
    font-size: .8rem;
    margin-bottom: 10px;
    color: #6d6d6d;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gauge-export button {
    padding: 10px 20px;
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #4FC3F7;
    color: #4d4d4d;
}

.gauge-export button.selected {
    background-color: #4FC3F7;
}

.gauge-export .cta {
    margin-top: 30px;
    background-color: #4FC3F7;
}