.gauge-export {
}

.gauge-export button {
    padding: 10px 20px;
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #34495e;
}

.gauge-export button.selected {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.gauge-export .cta {
    margin-top: 30px;
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #ffffff;
}

.gauge-export .use-react {
    margin-top: 20px;
    color: #ffffff;
}

.use-react a {
    color: #3d3d3d;
    text-decoration: none;
    border-bottom: 1px dashed;
}