/* Layout */
.gauge-form {
    text-align: left;
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid #CCD4F7;
    border-radius: 5px;
    margin-top: -3px;
    padding: 10px;
    grid-row-gap: 20px;
}

.field-group.generate {
    grid-template-columns: 1fr;
    padding: 20px 0;
}

/* colors and sizes */

.gauge-form legend {
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: #7C94EC;
}

.gauge-form fieldset {
    display: grid;
    justify-items: center;
    align-items: center;
}

.input-field {
    margin-top: 10px;
}

.colors .field-group,
.sizes .field-group {
    margin-left: 20px;
}

.field-group select {
    padding: 5px;
    text-transform: uppercase;
    height: 30px;
    transform: translateY(100%);
}

.gauge-form p {
    font-size: .9rem;
    line-height: 15pt;
}

.ad.rectangle {
    display: none;
}

@media (min-width: 600px) {
    .ad.rectangle {
        display: block;
        text-align: center;
        margin: 10px;
    }
}