.gauge-form {
    text-align: left;
}

.gauge-form .field-group {
    width: 400px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5px;

}

.field-group.two-col {
    grid-template-columns: 200px 200px;
}

.field-group.three-col {
    grid-template-columns: 133px 133px 134px;
}

.field-group.four-col {
    grid-template-columns: 100px 100px 100px 100px;
}
